<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>market</title>
</head>
<body>
	<h1>상품리스트</h1>
	<hr>
	
	<table>
		<thead>
		<tr>
			<th>No</th>
			<th>상품명</th>
			<th>상품가격</th>
			<th>갯수</th>
		</tr>
		</thead>
		
		<tbody>
			<tr th:each="row : ${list}">
				<td><a th:href="'detailPage/' + ${row.id}" th:text="${row.id}"></a></td>
				<td th:text="${row.order_id }"></td>
				<td th:text="${row.price }"></td>
				<td th:text="${row.count }"></td>
			</tr>	
		</tbody>
	</table>
    
</body>
</html>